* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: rgb(158, 158, 158);
}

h1{
    text-align: center;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border: 2px solid white;
    color:white;
    transition: 0.5s;
    width:10%;
    height:5%;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color:black
}

