* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(media/indexbackround.jpg);
  background-size: cover;
}

.break {
  height: 50px;
  width: 100%;

}

.card {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: rgba(33, 37, 41, 0.5);
}