body {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-attachment: fixed;
}

.infoBoxT {
  background-color: rgba(56, 56, 56, 0.5);
  color :white;
  width: 600px;
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.infoBox {
  background-color: rgba(56, 56, 56, 0.5);
  color :white;
  width: 600px;
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}
.topBar {
  background: url(images/moderator_stark.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 15px;
  text-shadow: 4px 4px 0 #000, -4px -4px 0 #000, 4px -4px 0 #000,
    -4px 4px 0 #000, 0px 4px 0 #000, 4px 0px 0 #000, 0px -4px 0 #000,
    -4px 0px 0 #000;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  width: 800px;
  height: 150px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 20px;
}
.break {
  height: 20px;
}
.div04 {
  height: 100px;
  color: white;
}
.discordBox {
  background-color: rgba(255, 255, 255, 0.5);
  width: 310px;
  height: 310px;
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #000000;
  border: solid 2px;
  border-color: #ffffff;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.button:hover {
  background-color: white;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  color: black;
  font-size: 30px;
  position: absolute;
  opacity: 0;
  top: -43%;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: black;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
