body{
    background-color: black;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.topNavBar{
    background-color: rgb(26, 25, 25);
    height: 75px;
}

.navBarContainer{
    position: absolute;
    display:flex;
    height: 75px;
    top:0%;
    width:27%;
    right:0%;
}

.navBarButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    height: 100%;
    width: 100%;
    transition: 0.2s;
}

.navBarButton:hover{
    background-color: rgb(41, 40, 40);
    cursor: pointer;
}

.navBarButtonWIP{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    height: 100%;
    width: 100%;
    transition: 0.2s;
}

.navBarButtonWIP:hover{
    background-color: rgb(54, 2, 2);
    cursor:not-allowed;
}

.navBarButtonText{
    color: white;
    top: 40%;
    bottom: 40%;
    text-align: center;
    line-height: 75px;
}

.mainBody{
    position: absolute;
    width: 100%;
    height: 92%;
}

.breakS{
    height: 10px;
}

.breakM{
    height: 50px;
}

.breakL{
    height: 100px;
}

.breakXL{
    height: 200px;
}

.infoBody{
    text-align: center;
    width:34%;
    background-color: rgb(26, 25, 25);
    border: solid 2px rgb(39, 38, 38);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color:white;
}

.product{
    display: block;
    text-align: center;
    width:34%;
    height: 15px;
    background-color: rgb(26, 25, 25);
    border: solid 2px rgb(39, 38, 38);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color:white;
    transition: 0.2s;
}

.product:hover{
    background-color: rgb(44, 43, 43);
    cursor: pointer;
}


.topbarimage{
    width: 75px;
    height: 75px;
}

.topbarimage:hover{
    cursor: pointer;
}

.topbartarkson1{
    position: absolute;
    top:1%;
    left:90px;
    color:white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.topbartarkson2{
    position: absolute;
    top:4.5%;
    left:90px;
    color:white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

