.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border-radius: 1rem;
  background-color: orange;
  padding: 2rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: fit-content;
}
.box #text {
  text-align: center;
}
.box img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
