body{
    background-color: black;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.topNavBar{
    background-color: rgb(26, 25, 25);
    height: 75px;
}

.navBarContainer{
    position: absolute;
    display:flex;
    height: 75px;
    top:0%;
    width:27%;
    right:0%;
}

.navBarButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    height: 100%;
    width: 100%;
    transition: 0.2s;
}

.navBarButton:hover{
    background-color: rgb(41, 40, 40);
    cursor: pointer;
}

.navBarButtonWIP{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    height: 100%;
    width: 100%;
    transition: 0.2s;
}

.navBarButtonWIP:hover{
    background-color: rgb(54, 2, 2);
    cursor:not-allowed;
}

.navBarButtonText{
    color: white;
    top: 40%;
    bottom: 40%;
    text-align: center;
    line-height: 75px;
}

table {
    position:absolute;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    letter-spacing: px;
    height:75px;
    width: 32%;
    right: 0px;
    top: 0%;
    color:white;
  }

th{
    width: 200px;
    transition: all 0.5s;
}

th:hover{
    background-color: rgb(80, 80, 80);
    cursor: pointer;
}

.topbarimage{
    width: 75px;
    height: 75px;
}

.topbarimage:hover{
    cursor: pointer;
}

.topbartarkson1{
    position: absolute;
    top:1%;
    left:90px;
    color:white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.topbartarkson2{
    position: absolute;
    top:4.5%;
    left:90px;
    color:white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.breakS{
    height: 25px;
}
.breakM{
    height: 50px;
}
.breakL{
    height: 100px;
}

.infoBody{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: white;
    background-color: rgb(26, 25, 25);
    border: 1px rgb(97, 96, 96) solid;
    width: 40%;
}

.product{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: white;
    background-color: rgb(26, 25, 25);
    border: 1px rgb(97, 96, 96) solid;
    width: 40%;
    transition: 0.25s;
}

.product:hover{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: white;
    background-color: rgb(97, 96, 96);
    border: 1px rgb(97, 96, 96) solid;
    width: 40%;
}

footer{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    position: absolute;
    bottom:0%;
    color:rgba(255, 255, 255, 0.2);
    background-color: rgb(26, 25, 25);
}

.footerselection{
    color:rgba(255, 255, 255, 0.2);
    transition: 0.2s;
}

.footerselection:hover{
    color:rgba(255, 255, 255, 0.5);
}